/*falta

menu
link de tudo

*/

/*RESET*/

html, body {
    height: 100vh;
    width: 100vw;
}
body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
}
figure{
	margin: 0;
}

/*PADRAO DO SITE*/

body{
	font-family: Helvetica;
}

/*CABECALHO*/

.cabecalho{
	background-color: rgb(0, 172, 228);
	position: fixed;
    width: 100%;
    text-align: center;
    height: 100px;
    z-index: 1; /*quanto menor o z mais afrete da sobreposiçao ele estará*/
}
.cabecalho__menu{
	display: inline-block;
	position: relative;
	left: 2%;
    vertical-align: middle;
    width: 18%;
	position: absolute;
	top: 28%;
}

.conteudo-principal{
	width: 95%;
	margin: 0 auto;
}
.pre-cabecalho__logo{
	width: 100%;
	display: inline-block;
	text-align: center;
	height: 100%;
}
.cabecalho__logo{
	display: inline-block;
	position: relative;
	top: 11px;
}
.cabecalho__texto{
	display: none;
}
.cabecalho__redes-sociais{
	display: none;
}
.carrossel { /*ajuste menu 100px fixos*/
	margin: 112px auto 0 auto; /*O + 30px é a margen do elemento*/
}

/*CARROSSEL*/

.carrossel{
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
}
.carrossel__imagem{
	width: 100%;
	height: 100%;
	position: relative;
}
.carrossel__imagem__concentrado{
	width: 100%;
	height: 100%;
}
.carrossel__titulo{
	text-transform: uppercase;
	padding: 2px;
	box-sizing: border-box;
	position: absolute;
	margin-top: -40px;
	color: white;
	background-color: rgba(0, 172, 228, 0.73);
	display: inline; /*para fazer sobreposições*/
	font-size: 100%;
}
.carrossel__texto{
	margin: 0;
	font-size: 1.5em;
}
.carrossel__seta{
	display: none;
}

/*DESTAQUES*/

.destaques{
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	height: 30%;
	position: relative;
}
.destaques__imagem{
	width: 100%;
	height: 100%;
}
.destaques__imagem__garotinha{
	width: 100%; 
	height: 100%;
}
.destaques__imagem__gato{
	width: 100%; 
	height: 100%;
}
.destaques__imagem__passarinho{
	width: 100%; 
	height: 100%;
}
.destaques__titulo{
	text-transform: uppercase;
	padding: 2px;
	box-sizing: border-box;
	position: absolute;
	margin-top: -40px;
	color: white;
	background-color: rgba(232, 21, 58, 0.73);
	display: inline; 
	font-size: 100%;
}

/*NOTICIAS*/

.pre-noticias__titulo{
	margin: 10px 0;
	font-size: 1.3em;
}
.noticias{
	padding: 5px;
	box-sizing: border-box;
}
.noticias__imagem{
	width: 100%;
	height: 100%;
}
.noticias__imagem__moco{
	width: 100%;
	height: 100%;
}
.noticias__imagem__espanto{
	width: 100%;
	height: 100%;
}
.noticias__imagem__musico{
	width: 100%;
	height: 100%;
}
.noticias__imagem__cabecao{
	width: 100%;
	height: 100%;
}
.noticias__titulo{
	color: #429cfd;
	text-transform: uppercase;
	font-size: 100%;
}
.noticias__traco{
	color: gray;
	text-align: center;
}

/*MINI NOTICIAS*/

.mini-noticias{
	padding: 5px;
	box-sizing: border-box;
}
.mini-noticias__titulo{
	color: #429cfd;
	font-size: 1.3em;
}
.mini-noticias__traco{
	color: gray;
	text-align: center;
}

/*SUB-NOTICIAS*/

.pre-sub-noticias__titulo{
	margin: 10px 0;
	font-size: 1.3em;
	color: red;
}
.sub-noticias{
	padding: 5px;
	box-sizing: border-box;
}
.sub-noticias__imagem{
	width: 50%;
	height: 100%;
	display: inline-block;
}
.sub-noticias__imagem__gatos{
	width: 100%;
	height: 100%;
}
.sub-noticias__imagem__moca{
	width: 100%;
	height: 100%;
}
.sub-noticias__imagem__ser-mistico{
	width: 100%;
	height: 100%;
}
.sub-noticias__imagem__olho{
	width: 100%;
	height: 100%;
}
.sub-noticias__descricao{
	width: 48%;
	display: inline-block;
	vertical-align: top;
}
.sub-noticias__descricao__titulo{
	width: 50%;
	display: inline;
	color: red;
	text-transform: uppercase;
	font-size: 100%;
}

/*PUBLICIDADE*/

.publicidade{
	text-align: center;
	margin: 75px 0;
}
.publicidade__img-big{
	display: none;
}
.publicidade__img__titulo{
	opacity: 0.5;
	font-size: 14px;
	margin: 0 auto;
	width: 300px;
	text-align: right;
}
.publicidade__img__social{
	width: 300px;
	height: 250px;
}


/*VOLTAR AO TOPO*/

.voltar-topo{
	background-color: rgb(0, 172, 228);
	text-align: right;
	padding-right: 5%;
    box-sizing: border-box;
}
.voltar-topo__texto{
	display: inline-block;
	text-transform: uppercase;
	color: white;
	margin: 10px 0;
	vertical-align: top; /*como corrigir o erro do espacinho?*/
}
.voltar-topo__img{
	display: inline-block;
	margin-top: 10px; 
}

/*RODAPÉ*/

.rodape{
	background-color: rgb(40, 60, 79);
	padding: 10px;
	box-sizing: border-box;
}
.rodape__img{
	display: none;
}
.rodape__texto{
	color: white;
}
.rodape__texto__email{
	color: white;
}

/* MEDIA QUERIE TABLET */

@media(min-width: 768px) {
	.cabecalho__texto{
		display: inline;
		color: white;
	}
	.cabecalho__redes-sociais{
		display: inline;
		text-align: right;
	}
	.cabecalho__redes-sociais__link__img{
		background-color: white;
		position: absolute;
    	top: 61px;
	    border-radius: 5px;
	    padding-top: 7px;
	    box-sizing: border-box;
	    border: 0.5px solid gray;
	}
	.cabecalho__redes-sociais__link__img__texto{
		display: none;
	}
	.posicao-facebook{
		right: 70px;
	}
	.cabecalho__redes-sociais__link__img__facebook-img{
		width: 40px;
    	height: 23px;
	}
	.posicao-twitter{
		right: 16px;
	}
	.cabecalho__redes-sociais__link__img__twitter-img{
		width: 40px;
    	height: 23px;
	}

	.carrossel__titulo {
		top: -94px;
		margin-top: 53%;
	}

	.carrossel__texto {
		color: white;
		position: absolute;
		margin-top: -9%;
		width: 92%;
	}

	.destaques{
		width: 30%;
		display: inline-block;
    	margin-left: 18px;
	}

	.noticias {
	    width: 47%;
	    display: inline-block;
	    margin-left: 10px;
	}

	.mini-noticias {
	    display: inline-block;
	    width: 49%;
	    vertical-align: top;
	}

	.pre-sub-noticias{
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}

	.pre-publicidade{
		display: inline-block;
		width: 49%;
	}

	.rodape__img{
		display: inline-block;
		width: 24%;
	}
	.rodape__texto {
	    display: inline-block;
	    width: 70%;
	    margin-left: 21px;
	}
}

/* MEDIA QUERIE DESKTOP */

@media(min-width: 992px) {
	.cabecalho{
		position: relative;
	}
	.cabecalho__redes-sociais__link__img {
    	top: 33px;
	}
	.cabecalho__redes-sociais__link__img__texto{
		display: inline-block;
		text-transform: uppercase;
		margin-left: 10px;
	    display: inline-block;
	    text-transform: uppercase;
	    margin: 2px 8px 0 0;
	    vertical-align: top;
	}
	.texto-facebook{
		color: blue;
	}
	.texto-twitter{
		color: rgb(0, 172, 228);
	}
	.posicao-facebook{
		right: 144px;
	}
	.posicao-twitter{
		right: 16px;
	}

	.pre-carrossel {
	    margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	.carrossel {
	    width: 100%;
	    margin: 21px auto 0 auto;
	    display: inline-block;
		text-align: left;
		font-size: 20px;
	}
	.carrossel__titulo{
		margin: 45% 0 0 30px;
	}
	.carrossel__texto{
		margin: -76px 0 0 30px;
		width: 60%;
	}
	.carrossel__seta{
		display: inline-block;
		position: relative;
		top: 41%;
		background: white;
   		border-radius: 100%;
   		width: 5%; /*41px*/
   		height: 42px;
   		text-align: center;
   		border: 1px solid gray;
	}
	.seta-esq{
		right: 1%; /*45px*/
	}
	.seta-dir{
		left: 102%;
    	top: -71%; /*-246px*/ 
	}
	.div{
		/*position: relative;
		top:-10%;
		position: absolute;
	    top: 37%;*/
	    position: relative;
	    top: -275px;
	}
	.conteudo-principal{
		width: 90%;
		margin: 0 auto;
	}
	.pre-noticias{
		width: 66%;
		display: inline-block;
		margin-right: -4px;
	}
	.publicidade{
		margin: 0 auto;
		width: 33%;
		display: inline-block;
		margin-right: -4px;
	}
	.publicidade__img{
		display: none;
	}
	.publicidade__img-big{
		display: inline-block;
	}
	.publicidade__img-big__social{
		width: 300px;
		height: 600px;
	}
	.mini-noticias{
		width: 33%;
	}
	.pre-sub-noticias{
		width: 33%;
	}
	.rodape{
		text-align: center;
	}
	.rodape__texto{
		text-align: left;
		width: 57%;
	}	
}

/*COMPONENTES SIMPLES MOBILE

COMENTÁRIO: 1

.destaques{
	background-color: orange;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	height: 30%;
}
.destaques__imagem{
	width: 100%;
	height: 100%;
}
.destaques__imagem__garotinha{
	width: 100%; COMENTÁRIO: é aqui que eu redimenciono a imagem
	height: 100%;
}
.destaques__titulo{
	text-transform: uppercase;
	padding: 2px;
	box-sizing: border-box;
	position: relative;
	top:-40px;
	color: white;
	background-color: rgba(232, 21, 58, 0.73);
	display: inline; COMENTÁRIO: para fazer sobreposições
	font-size: 100%;
}


COMENTÁRIO: 2

.noticias{
	background-color: green;
	padding: 5px;
	box-sizing: border-box;
}
.noticias__imagem{
	width: 100%;
	height: 100%;
}
.noticias__imagem__moco{
	width: 100%;
	height: 100%;
}
.noticias__titulo{
	color: #429cfd;
	text-transform: uppercase;
	font-size: 100%;
}
.noticias__traco{
	color: gray;
	text-align: center;
}

COMENTÁRIO: 3

.sub-noticias{
	background-color: orange;
	padding: 5px;
	box-sizing: border-box;
}
.sub-noticias__imagem{
	width: 50%;
	height: 100%;
	display: inline-block;
}
.sub-noticias__imagem__gatos{
	width: 100%;
	height: 100%;
}
.sub-noticias__descricao{
	width: 48%;
	display: inline-block;
	vertical-align: top;
}
.sub-noticias__descricao__titulo{
	width: 50%;
	display: inline;
	color: red;
	text-transform: uppercase;
	font-size: 100%;
}
*/